<div class="accordion" style="overflow: hidden;">
  <div id="inicio" class="accordion-item">
    <p class="hesag"></p>
    <div id = "inicio1" class="accordion-header">
      <p class="textEje">INICIO</p>
      <h2>NUESTRA
        <br>
         PREGUNTA
      </h2>
    </div>
    <div class="accordion-body" style="display: none;">
      <p>Contenido de la capa 1</p>
  </div>
  <div id="eje1" class="accordion-item">
    <p class="lnr icon-lego icon-p"></p>
    <p class="hesag"></p>
    <div id = "ejeuno" class="accordion-header">
      <p class="textEje">EJE 1</p>
      <h2>CONCEPTUALICEMOS</h2>
    </div>
    <div class="accordion-body" style="display: none;">
      <p>Contenido de la capa 2</p>
    </div>
  </div>
  <div id="eje2" class="accordion-item">
    <p class="hesag"></p>
    <div id = "ejedos" class="accordion-header">
      <p class="textEje">EJE 2</p>
      <h2>ANALICEMOS LA
        <br>
         SITUACIÓN
      </h2>
    </div>
    <div class="accordion-body" style="display: none;">
      <p>Contenido de la capa 3</p>
    </div>
  </div>
  <div id="eje3" class="accordion-item">
    <p class="hesag"></p>
    <div id = "ejetres" class="accordion-header">
      <p class="textEje">EJE 3</p>
      <h2>PONGAMOS EN
        <br>
         PRÁCTICA
      </h2>
    </div>
    <div class="accordion-body" style="display: none;">
      <p>Contenido de la capa 4</p>
    </div>
  </div>
  <div id="eje4" class="accordion-item">
    <p class="hesag"></p>
    <div id = "ejecuatro" class="accordion-header">
      <p class="textEje">EJE 4</p>
      <h2>PROPONGAMOS</h2>
    </div>
    <div class="accordion-body" style="display: none;">
      <p>Contenido de la capa 5</p>
    </div>
  </div>
  <div id="cierre" class="accordion-item">
    <p class="hesag"></p>
    <div id = "cierre1" class="accordion-header">
      <p class="textEje">CIERRE</p>
      <h2>EVALUÉMONOS</h2>
    </div>
    <div class="accordion-body" style="display: none;">
      <p>Contenido de la capa 6</p>
    </div>
  </div>
</div>
</div>

